services:
  - type: web
    name: hrms-backend
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: hrms-db
          property: connectionString

databases:
  - name: hrms-db
    plan: free
    databaseName: hrms_db